/* TypingPlaceholder.css */

.typing {
    display: block;
    width: 60px;
    height: 39px;
    /* margin: 0 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-scaling {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #535353;
    margin: 3px;
    animation: typing 1000ms ease-in-out infinite;
    animation-delay: 3600ms;
}

.circle-scaling:nth-child(1) {
    animation-delay: 0ms;
}

.circle-scaling:nth-child(2) {
    animation-delay: 333ms;
}

.circle-scaling:nth-child(3) {
    animation-delay: 666ms;
}

@keyframes typing {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.19);
    }

    100% {
        transform: scale(1);
    }
}