/* GetStartedButton.css */

@font-face {
    font-family: Monaco;
    font-style: normal;
    font-weight: 400;
    src: url(../../../public/fonts/Monaco.ttf);
}

.get-started-button-wrapper {
    width: 271px;
    height: 60px;
    background-color: #FFC226;
    border-radius: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    margin-top: 1.5em;
    border: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

.get-started-button-label {
    font-family: Monaco;
    font-size: 24px;
    color: #2E2E2E;
    -webkit-font-smoothing: antialiased;
}

.open-response-logo {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
}

.get-started-button-wrapper:hover .open-response-logo {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
    transform: scale(1.2);
}

.get-started-button-wrapper:hover {
    background-color: #FFD568;
    cursor: pointer;
}

@media (max-width: 1430px) {
    .get-started-button-wrapper {
        align-self: flex-end;
    }
}