/* ResetPromptButton */

.reset-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: unset;
    color: unset;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.5s;
}

.reset-button-icon {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.5s;
    width: 25px;
    height: 25px;
    transform: scale(1.3);
}

.reset-button:hover {
    cursor: pointer;
    transform: rotate(45deg);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.5s;
}

.reset-button:hover .reset-button-icon {
    transform: scale(1.5);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.5s;
}