/* TextFieldExample.css */

@font-face {
    font-family: Monaco;
    font-style: normal;
    font-weight: 400;
    src: url(../../../public/fonts/Monaco.ttf);
}

.textfield-wrapper {
    width: 854px;
    min-height: 173px;
    border-radius: 22px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #2E2E2E;
    padding: 16px;
    column-gap: 10px;
}

.textfield-text {
    font-family: Monaco;
    font-size: 24px;
    font-weight: 400;
    max-width: 754px;
    margin: 0;
    line-height: 38px;
    -webkit-font-smoothing: antialiased;
}