/* Footer.css */

.footer-main {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    width: 1280px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    width: 610px;
    justify-content: flex-end;
    /* padding: 0 30px; */
}

.footer-logo-column {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.footer-text-column {
    display: flex;
    width: 400px;
}

.divider {
    width: 610px;
    height: 1px;
    /* border-left: 1px solid rgb(169,169,169); */
    background: rgb(169,169,169);
    background: linear-gradient(-90deg, rgba(169,169,169,0.01) 15%, rgba(169,169,169,1) 100%);
}

.footer-text {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    column-gap: 3px;
    margin: 5px 0;
}

.footer-logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3px;
}

.footer-logo-font {
    font-family: GT-DS;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    color: #E7E7E7;
    -webkit-font-smoothing: antialiased;
    margin-top: 4px;
}

.footer-notes {
    font-family: Monaco;
    font-size: 16px;
    font-style: normal;
    color: #E7E7E7;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    margin-left: 3px;
}