/* Logo.css */

.logo-openresponse-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-self: flex-start;
    width: 1280px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(28, 28, 28, 0.5);
    padding: 20px 0;
    backdrop-filter: blur(5px);
    align-items: center;
}

.open-response-logo {
    width: 72px;
    height: 72px;
}

.title {
    margin: 0;
    font-family: GT-DS;
    font-weight: 300;
    font-style: italic;
    font-size: 64px;
    color: #E7E7E7;
}

@media (max-width: 1500px) {
    .logo-openresponse-wrapper {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .open-response-logo {
        width: 56px;
        height: 56px;
    }

    .title {
        font-size: 56px;
    }
}

@media (max-width: 600px) {
    .logo-openresponse-wrapper {
        margin-top: 0px;
        padding-top: 16px;
    }
    
    .title {
        font-size: 40px;
    }
}