@font-face {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    src: url(../public/fonts/Georgia.ttf);
}

@font-face {
    font-family: Georgia;
    font-style: italic;
    font-weight: 400;
    src: url(../public/fonts/Georgia\ Italic.ttf);
}

@font-face {
    font-family: Georgia;
    font-style: italic;
    font-weight: 700;
    src: url(../public/fonts/Georgia\ Bold\ Italic.ttf);
}

@font-face {
    font-family: Georgia;
    font-style: normal;
    font-weight: 700;
    src: url(../public/fonts/Georgia\ Bold.ttf);
}

@font-face {
    font-family: Monaco;
    font-style: normal;
    font-weight: 400;
    src: url(../public/fonts/Monaco.ttf);
}

.container {
    /* padding: 0 146px; */
}

.main {
    margin-top: 98px;
    min-height: calc(100vh - 98px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-column {
    display: flex;
    flex-direction: column;
}

.intro-text-description-wrapper {
    display: flex;
    max-width: 1280px;
}

.intro-text-description {
    max-width: 867px;
}

.subtitle, .description {
    font-family: Monaco;
    font-size: 24px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
}

.subtitle {
    margin: 0;
    margin-top: 30px;
}

.description {
    margin-top: 68px;
    line-height: 1.5;
    font-size: 1.5rem;
    max-width: 876px;
    text-align: left;
}

.description-call-to-action {
    font-family: Monaco;
    font-size: 24px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-size: 1.5rem;
    max-width: 876px;
    text-align: left;
}

.call-to-action-row {
    display: flex;
    flex-direction: row;
    width: 1280px;
    justify-content: space-between;
    margin-top: 68px;
}

.right-column {
    display: flex;
    width: 545px;
    justify-content: flex-end;
    align-items: flex-end;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.footer-main {
    display: flex;
    justify-content: flex-end;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    width: 410px;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
}

.footer-logo-column {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.footer-text-column {
    display: flex;
}

.divider {
    height: 250px;
    width: 1px;
    /* border-left: 1px solid rgb(169,169,169); */
    background: rgb(169,169,169);
    background: linear-gradient(180deg, rgba(169,169,169,0.01) 15%, rgba(169,169,169,1) 100%);
}

.footer-text {
    padding: 0 30px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    column-gap: 3px;
}

.footer-logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}

.footer-logo-font {
    font-family: Georgia;
    font-size: 20px;
    color: #E7E7E7;
    -webkit-font-smoothing: antialiased;
    margin-top: 4px;
}

.footer-notes {
    font-family: Monaco;
    font-size: 16px;
    color: #E7E7E7;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    margin-left: 3px;
}

@media (max-width: 600px) {
    
}

@media (prefers-color-scheme: dark) {

}
