@font-face {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    src: url(../public/fonts/Georgia.ttf);
}

@font-face {
    font-family: Georgia;
    font-style: italic;
    font-weight: 400;
    src: url(../public/fonts/Georgia\ Italic.ttf);
}

@font-face {
    font-family: Georgia;
    font-style: italic;
    font-weight: 700;
    src: url(../public/fonts/Georgia\ Bold\ Italic.ttf);
}

@font-face {
    font-family: Georgia;
    font-style: normal;
    font-weight: 700;
    src: url(../public/fonts/Georgia\ Bold.ttf);
}

@font-face {
    font-family: Monaco;
    font-style: normal;
    font-weight: 400;
    src: url(../public/fonts/Monaco.ttf);
}

.container {
    padding: 0 146px;
}

.main {
    margin-top: 98px;
    min-height: calc(100vh - 98px);
    display: flex;
    flex-direction: row;
}

.left-column {
    display: flex;
    flex-direction: column;
}

.intro-text-description {
    max-width: 867px;
}

.title {
    margin: 0;
    font-family: Georgia;
    font-weight: 300;
    font-size: 64px;
    color: #E7E7E7;
}

.title,
.description {
    text-align: left;
}

.subtitle, .description {
    font-family: Monaco;
    font-size: 24px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
}

.subtitle {
    margin: 0;
    margin-top: 15px;
}

.description {
    margin-top: 68px;
    line-height: 1.5;
    font-size: 1.5rem;
    max-width: 876px;
}

.call-to-action-row {
    display: flex;
    flex-direction: row;
    column-gap: 80px;
}

.right-column {
    display: flex;
    width: 545px;
    justify-content: flex-end;
    align-items: flex-end;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (max-width: 600px) {
    
}

@media (prefers-color-scheme: dark) {

}
