@font-face {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    src: url(../public/fonts/Georgia.ttf);
}

@font-face {
    font-family: Georgia;
    font-style: italic;
    font-weight: 400;
    src: url(../public/fonts/Georgia\ Italic.ttf);
}

@font-face {
    font-family: Georgia;
    font-style: italic;
    font-weight: 700;
    src: url(../public/fonts/Georgia\ Bold\ Italic.ttf);
}

@font-face {
    font-family: Georgia;
    font-style: normal;
    font-weight: 700;
    src: url(../public/fonts/Georgia\ Bold.ttf);
}

@font-face {
    font-family: Monaco;
    font-style: normal;
    font-weight: 400;
    src: url(../public/fonts/Monaco.ttf);
}

@font-face {
    font-family: GT-DS;
    font-style: italic;
    font-weight: 300;
    src: url(../public/fonts/GT-SD-lt-it.otf)
}

@font-face {
    font-family: GT-DS;
    font-style: italic;
    font-weight: 400;
    src: url(../public/fonts/GT-SD-md-it.otf)
}

.container {
    /* padding: 0 146px; */
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c;
    row-gap: 83px;
}

.main {
    margin-top: 98px;
    /* min-height: calc(100vh - 98px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 100px;
}

@media (max-width: 1500px) {
    .main {
        align-items: flex-start;
        padding: 0 110px;
        margin-top: 66px;
    }
}

@media (max-width: 1280px) {
    .main {
        margin-top: 49px;
    }

    .container {
        row-gap: 60px;
    }
}

@media (max-width: 900px) {
    .main {
        padding: 0 50px;
    }    
}

@media (max-width: 600px) {
    .main {
        padding: 0 16px;
        margin-top: 0;
    }
}

@media (prefers-color-scheme: dark) {

}
